.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-social-icons-1 {
  height: 129px;
  min-height: 16px;
  width: 407px;
  min-width: 68px;
  margin: 60px auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 575px) {
  .u-section-1 .u-social-icons-1 {
    height: 108px;
    width: 343px;
    margin-top: 186px;
    margin-right: -3px;
  }
}